body {
    font-family: Arial, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoFh4J8gV6kjmrh77Q1hAMSYQd4cueKsjn-JY86hqcCg&s");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: #faf9f9;
  }
  
  .stopwatch {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  